button:disabled {
  background-color: #cecece;
  color: black
}

button {
  background-color: #f96302;
}

.edit-mode {
  background-color: darkblue;
  color: white;
}

.delete {
  background-color: red;
  color: white;
}

.gift-data {
  display: inline-block;
}